<!-- <div class="container">
  <h1 class="text-center">Contact Us</h1>
  <mat-card class="section">
    <mat-card-content>

    </mat-card-content>
  </mat-card>
</div> -->

<div class="container">
  <h1 class="text-center">Ansprechpartner</h1>
  <mat-card class="section">
    <mat-card-content>
      <div class="contact-details">
        <!-- Name of the person -->
        <p class="contact-item">
          <strong>Name:</strong> <span>Abdelkader Basher</span>
        </p>

        <!-- Address -->
        <p class="contact-item">
          <strong>Address:</strong> <span>Ebersbrunnerstr. 9. 08064 Zwickau</span>
        </p>

        <!-- Phone number -->
        <p class="contact-item">
          <strong>Phone:</strong>
          <a href="tel:+491525191237" class="phone-link">+491525191237</a>
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>