@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  mat-toolbar.toolbar {
    display: flex;
    gap: 5px;
    background-color: mat.get-theme-color($theme, primary, 50);
    color: mat.get-theme-color($theme, on-primary);
    height: 60px;
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}
