<!-- <mat-card appearance="outlined">
  <mat-card-content>
    <ng-scrollbar orientation="vertical" autohide="true" style="height: 100%; width: 100%;">
      <div style="height: 100%; width: 100%;">
        <img mat-card-image src="https://github.com/alfaruqmoschee/median/blob/main/bilder/quran_template2.png?raw=true"
          style="height: 20%; width: 100%;" alt="Surah Al-Hujuraat, Ayah 13">
        <p class="verse">
          يَا أَيُهَا الْنَاسُ إِنَّا خَلَقْنَاكُمْ مِّنْ ذَكَرٍ وَأُنْثَى وَجَعَلْنَاكُمْ شُعُوبًا وَقَبَائِلَ
          لِتَعَارَفُوا
          إِنَّ أَكْرَمَكُمْ عِندَ اللهِ أَتْقَكُمْ إِنَ اللهَ عَلِيمٌ خَبِيِرٌ
        </p>
        <p>
          O ihr Menschen! Wir haben euch aus einem männlichen und einem weiblichen Wesen erschaffen und euch zu Völkern
          und
          Stämmen gemacht, damit ihr einander kennenlernt. Wahrlich, der Angesehenste von euch bei Allah ist der
          Gottesfürchtigste von euch.
        </p>
        <p>
           Surah Al-Hujuraat, Ayah 13
        </p>
      </div>
    </ng-scrollbar>
  </mat-card-content>
</mat-card> -->


<mat-card appearance="outlined">
  <mat-card-content>
    <ng-scrollbar orientation="vertical" autohide="true" style="height: 100%; width: 100%;">
      <div>
        <!-- Background image -->
        <img class="Background-img" mat-card-image src="https://github.com/alfaruqmoschee/median/blob/main/bilder/quran_template2.png?raw=true"
          alt="Surah Al-Hujuraat, Ayah 13">

        <!-- Overlayed content -->
        <div
          class="message-qoute-container">
          <p class="verse">
            يَا أَيُهَا الْنَاسُ إِنَّا خَلَقْنَاكُمْ مِّنْ ذَكَرٍ وَأُنْثَى وَجَعَلْنَاكُمْ شُعُوبًا وَقَبَائِلَ
            لِتَعَارَفُوا
            إِنَّ أَكْرَمَكُمْ عِندَ اللهِ أَتْقَكُمْ إِنَ اللهَ عَلِيمٌ خَبِيِرٌ
          </p>
          <p class="translation">
            O ihr Menschen! Wir haben euch aus einem männlichen und einem weiblichen Wesen erschaffen und euch zu
            Völkern
            und
            Stämmen gemacht, damit ihr einander kennenlernt. Wahrlich, der Angesehenste von euch bei Allah ist der
            Gottesfürchtigste von euch.
          </p>
          <p class="reference">
            Surah Al-Hujuraat, Ayah 13
          </p>
        </div>
      </div>
    </ng-scrollbar>
  </mat-card-content>
</mat-card>
